.h1AboutContact{
    font-size: calc( 11 * var(--fs_16)) !important;
    font-weight: 900;
    letter-spacing: 20px;
    color: #eeeff4;
    margin-left: -135px;
    position: relative;
    z-index: 4;
}

.hrAboutContact{
    transform: rotate(180deg) !important;
    width: 20%;
    margin-left: 45px;
}

.AboutContact{
    font-size: calc( 2.7 * var(--fs_16)) !important;
    font-weight: 900;
    letter-spacing: 10px;
    color: var(--Ligth_black);
    padding-left: 50px;
}

.pAboutContact p{
    font-size: calc( 1.12 * var(--fs_16)) !important;
    font-weight: 500;
}

.bg_text{
    position: absolute;
    left: 38%;
    bottom: -35%;
    width: 175px;
    height: 460px;
    background-color: #fff;
    z-index: 3;
}

@media (min-width: 991px) and (max-width: 1117px) {
    .h1AboutContact{
        font-size: calc( 8 * var(--fs_16)) !important;
        margin-left: -200px;
        position: relative;
        top: 30px;
    }

    .AboutContact{
        font-size: calc( 2.2 * var(--fs_16)) !important;
    }
    
    .pAboutContact p{
        font-size: calc( 1.1 * var(--fs_16)) !important;
    }
    
    .bg_text{
        left: 33%;
        bottom: -38%;
    }

}

@media (min-width: 767px) and (max-width: 991px) {
    .h1AboutContact{
        font-size: calc( 10 * var(--fs_16)) !important;
        position: relative;
        top: 20%;
        margin-left: 0px;
        text-align: center;
    }

    .hrAboutContact{
        transform: rotate(180deg) !important;
        width: 30%;
        margin-left: 55px;
    }
    
    .AboutContact{
        font-size: calc( 1.9 * var(--fs_16)) !important;
        padding-left: 0px;
        margin-left: -20px;
        text-align: center;
    }

    .pAboutContact p{
        margin-left: 25px;
    }

    .bg_text{
        left: 18%;
        bottom: -40%;
        width: 105px;
        height: 360px;
        background-color: transparent;
        z-index: 3;
    }

}

@media (min-width: 501px) and (max-width: 767px){
    .h1AboutContact{
        font-size: calc( 5 * var(--fs_16)) !important;
        position: relative;
        top: 20%;
        margin-left: 0px;
        text-align: center;
    }

    .hrAboutContact{
        transform: rotate(180deg) !important;
        width: 30%;
        margin-left: 35px;
    }
    
    .AboutContact{
        font-size: calc( 1.5 * var(--fs_16)) !important;
        padding-left: 0px;
        margin-left: -20px;
        text-align: center;
    }

    .pAboutContact p{
        margin-left: 25px;
        font-size: calc( 1.2 * var(--fs_16)) !important;
    }

    .bg_text{
        left: 2%;
        bottom: -25%;
        width: 105px;
        height: 270px;
        background-color: transparent;
        z-index: 3;
    }

}

@media (min-width: 300px) and (max-width: 501px) {
    .h1AboutContact{
        font-size: calc( 3.3 * var(--fs_16)) !important;
        position: relative;
        top: 20%;
        margin-left: 0px;
        text-align: center;
    }

    .hrAboutContact{
        transform: rotate(180deg) !important;
        width: 30%;
        margin-left: 35px;
    }
    
    .AboutContact{
        font-size: calc( 1.5 * var(--fs_16)) !important;
        padding-left: 0px;
        margin-left: -25px;
        text-align: center;
    }

    .pAboutContact p{
        margin-left: -5px;
        font-size: calc( 1.1 * var(--fs_16)) !important;
    }

    .bg_text{
        left: 2%;
        bottom: -25%;
        width: 105px;
        height: 270px;
        background-color: transparent;
        z-index: 3;
    }

}
