.btnHero{
    padding: 10px 15px;
    background-color: var(--Ligth_black);
    box-shadow:none;
    transition: all .4s;
}

.btnHero:hover{
    background-color: var(--Ligth_brown);
    box-shadow:none !important;
}

.linkbtnHero, .linkbtnHero:hover{
    color: var(--White);
    font-size: var(--fs_16);
}

.btnHero:hover .icon{
    margin-left: 22px;
}

.icon{
    margin-left: 15px;
    font-size: calc(1.3 * var(--fs_16));
    transition: margin-left .4s;
}
