h4{
    font-size: calc(3.5 * var(--fs_16)) !important;
    letter-spacing: 3px;
    font-weight: 700;
    color: #1b1d23;
}

@media (min-width: 767px) and (max-width: 991px) {
    h4{
        font-size: calc(3.1 * var(--fs_16)) !important;
    }
}

@media (min-width: 300px) and (max-width: 501px) {
    h4{
        font-size: calc( 2.3 * var(--fs_16)) !important;
    }
}